body{
    background: white;
    color: #25282b;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    
}

#container{
    width: 90%;
    max-width: 980px;

    margin: 40px auto;

    display: block;
}

header {
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;

    margin-bottom: 32px;
}

nav li{
    list-style-type: none;
    margin-right: 16px;
}

nav li:last-child{
    margin:0;
}

nav li:last-child a{
    
    width: 100px;
    height: 40px;

    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 8px;
}

nav li:last-child a:hover{
    background-color: #0984e3;
    text-decoration: none;
}

i {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: #ffa500;
    font-weight: bold;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}

#filters{
    display: flex;
    margin: 32px 0 16px;
}

#filters li{
    margin-right: 16px;
    width: 100px;
    height: 40px;

    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 8px;
}




.card-body{
    display: flex;

    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
    border-radius: 8px;

    padding: 32px;

    margin-bottom: 32px;
}

.card-img{
    max-width: 50%;
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3{
    margin: 0;
}

.idea p{
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}





footer{
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    
    color: #777;
}
